/.settings
/.buildpath
/.project
/.idea
/node_modules
/composer.phar
composer.lock
/build/logs/*
/vendor
/cov
/web/bundles
/web/css
/web/js
/web/uploads/users/*
/web/media/cache
/web/build.js
/app/config/parameters.yml
/app/config/parameters_test.yml
*~

/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep


# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/app/SymfonyRequirements.php
