{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set pageTitle = 'issue.issue'|trans %}

{% block navButtons %}
    {% if resource_granted('issue_view') %}
        <div class="btn-group">

        </div>
    {% endif %}
    {% include 'OroImportExportBundle:ImportExport:buttons.html.twig' with {
    entity_class:            entity_class,
    importProcessor:         'oro_issue',
    exportProcessor:         'oro_issue',
    exportTemplateProcessor: 'oro_issue',
    dataGridName:             'parents-issue-grid'
    } %}
{% endblock %}
