datagrid:
    issue-grid:
        extended_entity_name: Oro\Bundle\IssueBundle\Entity\Issue
        source:
            type: orm
            acl_resource: issue_view
            query:
                select:
                    - issue.id
                    - issue.code
                    - issue.type
                    - issue.summary
                    - issuePriority.label as priority
                    - issueResolution.label as resolution
                    - issueReporter.firstName as issueReporterName
                    - issueAssignee.firstName as issueAssigneeName
                    - issue.createdAt
                    - issue.updatedAt
                    - workflowStep.label as workflowStepLabel
                from:
                    - { table: Oro\Bundle\IssueBundle\Entity\Issue, alias: issue }

                join:
                    left:
                        - { join: issue.priority, alias: issuePriority }
                        - { join: issue.resolution, alias: issueResolution }
                        - { join: issue.workflowStep, alias: workflowStep }
                        - { join: issue.reporter, alias: issueReporter }
                        - { join: issue.assignee, alias: issueAssignee }
        columns:
            code:
                label:         issue.code
            summary:
                label:         issue.summary
            type:
                label:         issue.type
            priority:
                label:         issue.priority
            workflowStepLabel:
                label:         issue.status
            resolution:
                label:         issue.resolution
            issueReporterName:
                label:         issue.reporter
            issueAssigneeName:
                label:         issue.assignee
            createdAt:
                label:         issue.createdAt
                frontend_type: datetime
            updatedAt:
                label:         issue.updatedAt
                frontend_type: datetime
        sorters:
            columns:
                code:
                    data_name: issue.code
                summary:
                    data_name: issue.summary
                type:
                    data_name: issue.type
                priority:
                    data_name: issue.priority
                workflowStepLabel:
                    data_name: workflowStep.stepOrder
                resolution:
                    data_name: resolutionLabel
                issueReporterName:
                    data_name: issueReporterName
                issueAssigneeName:
                    data_name: issueAssigneeName
                createdAt:
                    data_name: issue.createdAt
                updatedAt:
                    data_name: issue.updatedAt
            default:
                updatedAt: DESC
        filters:
            columns:
                code:
                    type:      string
                    data_name: issue.code
                summary:
                    type:      string
                    data_name: issue.summary
                type:
                    type:      string
                    data_name: issue.type
                priority:
                    type:      string
                    data_name: issuePriority.name
                status:
                    label:     Status
                    type:      string
                    data_name: workflowStepLabel
                resolution:
                    type:      string
                    data_name: issue.resolution
                reporter:
                    label:     Reporter
                    type:      string
                    data_name: issueReporterName
                assignee:
                    label:     Assignee
                    type:      string
                    data_name: issueAssigneeName
                createdAt:
                    type:      datetime
                    data_name: issue.createdAt
                updatedAt:
                    type:      datetime
                    data_name: issue.updatedAt
        properties:
            id: ~
            view_link:
                type:       url
                route:      issue_view
                params:     [ id ]
            update_link:
                type:       url
                route:      issue_update
                params:     [ id ]
            delete_link:
                type:       url
                route:      tracker_api_delete_issue
                params:     [ id ]
        actions:
            view:
                type:          navigate
                acl_resource:  issue_view
                label:         grid.action.view
                icon:          eye-open
                link:          view_link
                rowAction:     true
            update:
                type:          navigate
                acl_resource:  issue_update
                label:         grid.action.update
                icon:          edit
                link:          update_link
            delete:
                type:          delete
                acl_resource:  issue_delete
                label:         grid.action.delete
                icon:          trash
                link:          delete_link
        options:
            entity_pagination: true

    parents-issue-grid:
        extends: issue-grid
        source:
            query:
                where:
                    and:
                        - issue.parent IS NULL

    sub-issue-grid:
        extends: issue-grid
        source:
            query:
                where:
                    and:
                        - issue.parent = :parent_id
            bind_parameters:
                - parent_id
        filters: ~
        options:
            toolbarOptions:
                hide: true

    assignee-reporter-issue-grid:
        extends: issue-grid
        source:
            query:
                where:
                    and:
                        - issue.assignee = :user_id or issue.reporter = :user_id
            bind_parameters:
                - user_id
        filters: ~
        options:
            toolbarOptions:
                hide: true

    widget-short-issue-grid:
        source:
            type: orm
            acl_resource: issue_view
            query:
                select:
                    - issue.id
                    - issue.code
                    - issue.summary
                from:
                    - { table: Oro\Bundle\IssueBundle\Entity\Issue, alias: issue }
                join:
                    inner:
                         - { join: issue.collaborators, alias: collaborators }
                         - { join: issue.workflowStep, alias: workflowStep }
                where:
                    and:
                        - collaborators.id = :user_id
                        - workflowStep.name NOT IN ('resolved', 'closed')
            bind_parameters:
                - user_id
        columns:
            code:
                label: issue.code
            summary:
                label: issue.summary
        options:
            entity_pagination: true
            toolbarOptions:
                hide: true
                pageSize:
                    items: [10]
                    default_per_page: 10

    collaborators-grid:
        source:
            type: orm
            acl_resource: issue_view
            query:
                select:
                    - collaborators.id
                    - collaborators.firstName as name
                from:
                    - { table: Oro\Bundle\IssueBundle\Entity\Issue, alias: issue }
                join:
                    left:
                         - { join: issue.collaborators, alias: collaborators }
                where:
                    and:
                        - issue.id = :issue_id
            bind_parameters:
                - issue_id
        columns:
            name:
                label: issue.collaborator_name
            step:
                renderable: false