datagrid:
    issue-grid:
        source:
            type: orm
            acl_resource: issue_view
            query:
                select:
                    - issue.id
                    - issue.code
                    - issue.type
                    - issue.summary
                    - issuePriority.label as priority
                    - issueResolution.label as resolution
                    - issueReporter.firstName as issueReporterName
                    - issueAssignee.firstName as issueAssigneeName
                    - issue.created
                    - issue.updated
                    - workflowStep.label as workflowStepLabel
                from:
                    - { table: Oro\Bundle\IssueBundle\Entity\Issue, alias: issue }

                join:
                    left:
                        - { join: issue.priority, alias: issuePriority }
                        - { join: issue.resolution, alias: issueResolution }
                        - { join: issue.workflowStep, alias: workflowStep }
                        - { join: issue.reporter, alias: issueReporter }
                        - { join: issue.assignee, alias: issueAssignee }
        columns:
            code:
                label:         issue.code.label
            summary:
                label:         issue.summary.label
            type:
                label:         issue.type.label
            priority:
                label:         issue.priority.label
            workflowStepLabel:
                label:         issue.status.label
            resolution:
                label:         issue.resolution.label
            issueReporterName:
                label:         issue.reporter.label
            issueAssigneeName:
                label:         issue.assignee.label
            created:
                label:         issue.created.label
                frontend_type: datetime
            updated:
                label:         issue.updated.label
                frontend_type: datetime
        sorters:
            columns:
                code:
                    data_name: issue.code
                summary:
                    data_name: issue.summary
                type:
                    data_name: issue.type
                priority:
                    data_name: issue.priority
                workflowStepLabel:
                    data_name: workflowStep.stepOrder
                resolution:
                    data_name: resolutionLabel
                issueReporterName:
                    data_name: issueReporterName
                issueAssigneeName:
                    data_name: issueAssigneeName
                created:
                    data_name: issue.created
                updated:
                    data_name: issue.updated
            default:
                updated: DESC
        filters:
            columns:
                code:
                    type:      string
                    data_name: issue.code
                summary:
                    type:      string
                    data_name: issue.summary
        properties:
            id: ~
            view_link:
                type:       url
                route:      issue_view
                params:     [ id ]
            update_link:
                type:       url
                route:      issue_update
                params:     [ id ]
        actions:
            view:
                type:          navigate
                acl_resource:  issue_view
                label:         grid.action.view
                icon:          eye-open
                link:          view_link
                rowAction:     true
            update:
                type:          navigate
                acl_resource:  issue_update
                label:         grid.action.update
                icon:          edit
                link:          update_link
        options:
            entity_pagination: true

    parents-issue-grid:
        extends: issue-grid
        source:
            query:
                where:
                    and:
                        - issue.parent IS NULL

    sub-issue-grid:
        extends: issue-grid
        source:
            query:
                where:
                    and:
                        - issue.parent = :parent_id
            bind_parameters:
                - parent_id
        filters: ~
        options:
            toolbarOptions:
                hide: true

    widget-short-issue-grid:
        source:
            type: orm
            acl_resource: issue_view
            query:
                select:
                    - issue.id
                    - issue.code
                    - issue.summary
                from:
                    - { table: Oro\Bundle\IssueBundle\Entity\Issue, alias: issue }
                join:
                    inner:
                         - { join: issue.collaborators, alias: collaborators }
                         - { join: issue.workflowStep, alias: workflowStep }
                where:
                    and:
                        - collaborators.id = :user_id
                        - workflowStep.name NOT IN ('resolved', 'closed')
            bind_parameters:
                - user_id
        columns:
            code:
                label:         issue.code.label
            summary:
                label:         issue.summary.label
        options:
            entity_pagination: true
            toolbarOptions:
                hide: true
                pageSize:
                    items: [10]
                    default_per_page: 10