parameters:
    issue.form.type.issue.class:        Oro\Bundle\IssueBundle\Form\Type\IssueType
    issue.form.api_type.issue.class:    Oro\Bundle\IssueBundle\Form\Type\IssueApiType
    issue.form.handler.issue.class:     Oro\Bundle\IssueBundle\Form\Handler\IssueHandler
    issue.manager.api.class:            Oro\Bundle\SoapBundle\Entity\Manager\ApiEntityManager
    issue.form.handler.issue_api.class: Oro\Bundle\IssueBundle\Form\Handler\IssueApiHandler

services:
    issue.form.type.issue:
        class: %issue.form.type.issue.class%
        tags:
            - { name: form.type, alias: oro_issue }

    tracker_issue.form:
        class: Symfony\Component\Form\Form
        factory_method: createNamed
        factory_service: form.factory
        arguments: ['oro_issue', 'oro_issue']

    issue.form.handler.issue:
        class: %issue.form.handler.issue.class%
        scope: request
        arguments:
            - @tracker_issue.form
            - @request
            - @doctrine.orm.entity_manager
            - @oro_activity.manager
            - @oro_entity.routing_helper
        tags:
            - { name: oro_tag.tag_manager }

    issue.form.type.issue_api:
        class: %issue.form.api_type.issue.class%
        tags:
            - { name: form.type, alias: issue_api }

    issue.form.api:
        class: Symfony\Component\Form\Form
        factory_method: createNamed
        factory_service: form.factory
        arguments: ['issue_api', 'issue_api']

    issue.form.handler.issue.api:
        class: %issue.form.handler.issue_api.class%
        scope: request
        arguments:
            - @issue.form.api
            - @request
            - @doctrine.orm.entity_manager
            - @oro_security.security_facade
        tags:
            - { name: oro_tag.tag_manager }

    issue.manager.api:
        class: %issue.manager.api.class%
        parent: oro_soap.manager.entity_manager.abstract
        arguments:
            - %issue.entity%
            - @doctrine.orm.entity_manager