parameters:
    issue.importexport.class: Oro\Bundle\IssueBundle\ImportExport\TemplateFixture\IssueFixture

services:
    issue.importexport.data_converter.issue:
        parent: oro_importexport.data_converter.configurable

    issue.importexport.processor.export.issue:
        parent: oro_importexport.processor.export_abstract
        calls:
          - [ setDataConverter, [@issue.importexport.data_converter.issue]]
        tags:
          - { name: oro_importexport.processor, type: export, entity: %issue.entity%, alias: issue }

    issue.importexport.strategy.issue.add_or_replace:
        class: %orocrm_contact.importexport.strategy.group.class%
        parent: oro_importexport.strategy.configurable_add_or_replace

    issue.importexport.processor.import.issue:
        parent: oro_importexport.processor.import_abstract
        calls:
          - [setDataConverter, [@issue.importexport.data_converter.issue]]
          - [setStrategy, [@issue.importexport.strategy.issue.add_or_replace]]
        tags:
          - { name: oro_importexport.processor, type: import, entity: %issue.entity%, alias: issue }
          - { name: oro_importexport.processor, type: import_validation, entity: %issue.entity%, alias: issue }

    issue.importexport.template_fixture.issue:
        class: %issue.importexport.class%
        tags:
          - { name: oro_importexport.template_fixture }

    issue.importexport.template_fixture.data_converter.issue:
        parent: oro_importexport.data_converter.template_fixture.configurable

    issue.importexport.processor.export_template.issue:
        parent: oro_importexport.processor.export_abstract
        calls:
          - [setDataConverter, [@issue.importexport.template_fixture.data_converter.issue]]
        tags:
          - { name: oro_importexport.processor, type: export_template, entity: %issue.entity%, alias: issue }


